<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travelgraphy - About us</title>
  <link rel="icon" href="/images/logo.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="aboutus-container">
<div class="aboutus-button">
    <a href="/home" class="homepage-ton">Home Page</a>  
    <a href="/register" class="aboutus-ton">Register</a>
    <a href="/signin" class="signin-ton">Sign In</a>
  </div>
</div>
</body>
</html>
