<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travelgraphy - About us</title>
  <link rel="icon" href="/images/logo.jpeg" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="aboutus-container">
    <h1 class="aboutus-title">Travelgraphy</h1>
    <p class="aboutus-description">
     We're here to help you reminisce about your magical moments, preserve important details, and relive your travel stories.<br>
      Create your own travel journal, record adventures, and save valuable information.<br>
      Start your journey of preserving and sharing your experiences with Travelgraphy today.
    </p>
    <img class="us" src="/images/us.png" alt="us">
  </div>
<div class="aboutus-button">
    <a href="/home" class="homepage-ton">Home Page</a>  
    <a href="/register" class="aboutus-ton">Register</a>
    <a href="/signin" class="signin-ton">Sign In</a>
  </div>
</body>
</html>
