<!DOCTYPE html>
<html lang="en">
<head>
  <title>Travelgraphy - About us</title>
  <link rel="icon" href="/images/logo.jpeg" type="image/x-icon">
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header class="cabeca">
  <div class="layout">
    </div>
  <nav class="layoutTeste">
    <h2>Travelgraphy</h2>
    <ul>
     <li><a href="/home">Home Page |</a></li>
    <li><a href="/signin">Sign In | </a></li>
    <li><a href="/register">Register </a></li>
    </ul>
  </nav>
</header>

<body>
 <div class="aboutus-container"></div>
</body>
</html>