<!DOCTYPE html>
<html>
<head>
  <title>All Trips</title>
</head>
<body>
  <h1>All Trips</h1>
  <ul>
    <% trips.forEach(trip => { %>
    <li><%= trip.title %></li>
    <% }) %>
  </ul>
</body>
</html>
