<!DOCTYPE html>
<html lang="en" accept-language="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelgraphy - Home page</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

  <div class="image-home">
    <div class="home">
      <div class="custom">
        <a href="/aboutUs" class="button btn-aboutus">About Us</a>
      </div>
      <div class="custom">
        <a href="/signin" class="button btn-signin">Sign In</a>
      </div>
      <div class="custom">
        <a href="/register" class="button btn-register">Register</a>
      </div>
    </div>
  </div>
<footer>
  Copyright © 2023 Developed by Priscilla & Carol
</footer>
</body>
</html>