<!DOCTYPE html>
<html>
<link rel="icon" href="/images/logo.png" type="image/x-icon">
<head>
    <title>Travelgraphy - <%= pageTitle %></title>
    <!-- Seus links para folhas de estilo, scripts, etc. podem ser adicionados aqui -->
</head>
<main>
<body>
    <header class="cabeca">
        <div class="layout">
          <h2>Travelgraphy</h2>
        </div>
        <nav class="layoutTeste">
          <ul>
            <li><a href="/">Home Page |</a></li>
            <li><a href="/aboutUs">About Us |</a></li>
            <li><a href="/signin">Sign In |</a></li>
            <li><a href="/admin">Admin </a></li>
          </ul>
        </nav>
      </header>
      
    <!-- Área onde o conteúdo específico de cada página será inserido -->
    <%= contents %>
</main>
<footer>
  <p>Developed by Caroline & Priscilla &copy; 2023 </p>
</footer>
</body>
</html>