<h1>New Trip Page</h1>
<form style="display: flex; flex-direction: column;align-items: start;" method="POST" action="/createtrip">
  <label> Title:
    <input name="title" />
  </label>
  <label> Description:
    <input name="description" />
  </label>
  <label> Start Date:
    <input name="startDate" type="date" />
  </label>
  <label> End Date:
    <input name="endDate" type="date" />
  </label>
  <label> Location:
    <input name="location" />
  </label>
  <label> Image URL:
    <input name="image" />
  </label>
  <button type="submit">Create Trip</button>
</form>
