<!DOCTYPE html>
<html lang="en" accept-language="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <h1>
          Create Account
        </h1>
        
        <div class="social-media">
            <a href="#">
                <img src="/images/google.png" alt="Google">
            </a>
            <a href="#">
                <img src="/images/facebook.png" alt="Facebook">
            </a>
            <a href="#">
                <img src="/images/linkedin.png" alt="Linkedin">
            </a>
        </div>

        <div class="alternative">
            <span>OR</span>
        </div>

        <form action="/register" method="POST">
            <label for="username">
                <span>Username</span>
                <input type="text"  id="username" name="username" placeholder="Enter your username" required>
            </label>

            <label for="email">
                <span>E-mail</span>
                <input type="email"  id="email" name="email" placeholder="Enter your email" required>
            </label>

            <label for="password">
                <span>Password</span>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </label>

            <input type="submit" value="Register" id="button">
            <a href="/home" class="button button-home">Home Page</a>

        </form>
    </main>
    <section class="images">
        <img src="/images/3.png" alt="Mobile">
        <div class="circle"></div>
    </section>
</body>
</html>