
<!-- signin.ejs -->
<!DOCTYPE html>
<html lang="en" accept-language="en">
<head>
  <title>Travelgraphy - Sign In</title>
  <link rel="icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header class="cabeca">
  <div class="layout">
    <h2>Travelgraphy</h2>
  </div>
  <nav class="layoutTeste">
    <ul>
      <li><a href="/home">Home Page |</a></li>
      <li><a href="/aboutUs">About Us |</a></li>
      <li><a href="/signin">Sign In |</a></li>
      <li><a href="/admin">Admin </a></li>
    </ul>
  </nav>
</header>

<body>
  <main>
  
    <h1> 
      Sign In
    </h1>
    
  <!-- Conteúdo da página de login -->
  <div class="container">
    <% if (typeof errorMsg !== 'undefined') { %>
      <div class="error-message"><%= errorMsg %></div>
    <% } %>
  
    <form action="/signin" method="POST">
      <label for="email">
        <span>Email</span>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </label>
  
      <label for="password">
        <span>Password</span>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </label>
    </div>
  
        <a href="/admin">
        <input type="submit" value="Sign In" id="button-sigin">
        </a>
    </form>
</main>
<section class="images.signin">
  <img src="../images/signin.png" alt="foto signin">
</section>
<footer class="footerPosts">
  <p>Developed by Caroline & Priscilla &copy; 2023 </p>
</footer>
</body>
</html>